.navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 8px;
    margin-top: 22px;
}

.menu-item{
    color: #6F767E;
    height: 48px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.333;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 8px;

    &:hover{
        opacity: 0.8;
        background-color: rgba($color: #000, $alpha: 0.9);
    }
}

.icon{
    display: flex;
}

.title{
    flex: 1;    
}

.active{
    background-color: var(--primary-color)!important;
    opacity: 1!important;
    color: #1A1D1F;
}

.collapse{
    justify-content: center;
}